Repository fomantic/Fomantic-UI, pull requests merged in 2024-08, with the labels that each got.

#3079 fix(types): satisfy lint rule no-unsafe-function-type
  types/fomantic-ui-dropdown.d.ts
  types/fomantic-ui-flyout.d.ts
  types/fomantic-ui-form.d.ts
  types/fomantic-ui-modal.d.ts
  types/fomantic-ui-search.d.ts
  types/fomantic-ui-slider.d.ts
  types/fomantic-ui-tab.d.ts
  types/fomantic-ui-transition.d.ts
Labels: type/types

#3067 fix(form): duplicate error displays on invalid form field value
  src/definitions/behaviors/form.js
Labels: type/bug, javascript

#3074 fix(shape): use classname alias to short variable access
  src/definitions/modules/shape.js
Labels: type/feat, javascript

#3080 fix(types): correct transition behavior "set looping"
  types/fomantic-ui-transition.d.ts
Labels: type/bug, type/types

#3082 fix(types): missing/wrong types for modal. dropdown, popup, transition
  types/fomantic-ui-dropdown.d.ts
  types/fomantic-ui-modal.d.ts
  types/fomantic-ui-popup.d.ts
  types/fomantic-ui-transition.d.ts
Labels: state/awaiting-reviews, type/types
